<%= form_with model: @device do |form| %>
  <div class="update-field">
    <%= form.label :switch %>
    <%= form.check_box :switch %>
  </div>
  <div class="update-field level-field">
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>
  <%= form.submit %>
<% end %>
