<nav><%= link_to "Home", root_path %></nav>
<h1><%= @device.label %></h1>
<article class="<%= @device.on? ? 'on' : 'off' %>">
  <div><%= @device.label %></div>
  <% if @device.dimmer? %>
    <%= render 'editdimmer' %>
  <% elsif @device.outlet? %>
    <%= render 'editoutlet' %>
  <% end %>
</article>
