<h1>Friedman Lights</h1>
<main>
  <% @devices.each do |device| %>
    <article class="<%= device.on? ? 'on' : 'off' %>">
      <% if !device.thermostat? %>
        <a href="<%= url_for([:edit, device]) %>"><%= render 'icons/settingsicon' %></a>
      <% end %>
      <div><%= device.label %></div>
      <%= form_with url: url_for([:toggle, device]), method: :put do |form| %>
        <button type="submit" name="commit"><%= render 'icons/powericon' %></button>
      <% end %>
    </article>
  <% end %>
</main>
