// Place all the styles related to the Devices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
main {
  display: flex;
  flex-wrap: wrap;
}

article {
  position: relative;
  background: white;
  border: thick solid #888;
  border-radius: 2rem;
  padding: 2rem;
  margin: 1rem;
  width: 10rem;
  white-space: normal;
  display: flex;
  flex-direction: column;
  text-align: center;

  &.on {
    border-color: #4E7A9B;
    box-shadow: 0px 0px 10px 2px #8EBEE2;

    button .powericon {
      fill: #4E7A9B;
    }
  }

  &.off {
    button .powericon {
      background-color: #4E7A9B;
      fill: white;
    }
  }
}

form {
  align-self: center;
}

button {
  background: none;
  border: none;
}

button .powericon {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

a .settingsicon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}

.update-field {
  margin: 2rem 0;
}

.level-field input {
  width: 3rem;
  padding: 0.2rem;
  border: solid thin black;
  border-radius: 0.2rem;
}
