<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="powericon">
  <path d="M24 26.1q-.65 0-1.075-.425-.425-.425-.425-1.075V7.3q0-.65.425-1.075Q23.35 5.8 24 5.8q.65 0 1.075.425.425.425.425 1.075v17.3q0 .65-.425 1.075-.425.425-1.075.425Zm0 16q-3.75 0-7.025-1.425-3.275-1.425-5.7-3.85-2.425-2.425-3.85-5.7Q6 27.85 6 24.1q0-3.55 1.4-6.775 1.4-3.225 3.9-5.775.45-.45 1.125-.475.675-.025 1.125.425.45.45.375 1.075-.075.625-.525 1.075-2.1 2.1-3.25 4.775Q9 21.1 9 24.1q0 6.25 4.375 10.625T24 39.1q6.25 0 10.625-4.375T39 24.1q0-3-1.125-5.7t-3.225-4.8q-.45-.45-.5-1.075-.05-.625.4-1.025.5-.5 1.175-.425.675.075 1.175.575 2.45 2.55 3.775 5.75Q42 20.6 42 24.1q0 3.75-1.425 7.025-1.425 3.275-3.85 5.7-2.425 2.425-5.7 3.85Q27.75 42.1 24 42.1Z"/>
</svg>
